// @import "../../variables";

// Return opaque color
// opaque(#fff, rgba(0, 0, 0, .5)) => #808080
@function opaque($background, $foreground) {
  @return mix(rgba($foreground, 1), $background, opacity($foreground) * 100);
}

// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}
$allow-color: tint-color(green, 40%);
$allow-hover-color: shade-color($allow-color, 5%);
$allow-input-color: opaque($allow-color, rgba(255, 255, 255, 0.9));
$deny-color: tint-color(red, 40%);
$deny-hover-color: shade-color($deny-color, 5%);
$deny-input-color: opaque($deny-color, rgba(255, 255, 255, 0.9));
$button-color: shade-color(white, 5%);
$button-hover-color: shade-color(white, 10%);

$deny-allow-gradient: linear-gradient(90deg, $deny-color, $allow-color);

$dark-button-shadow: 0 0 2px 1px rgba(black, 0.3);
$dark-box-shadow: 0 0 20px 10px rgba(black, 0.3);
$default-border-radius: 5px;

$chracter-width: 40px;
$chracter-height: 40px;
$chracter-margin: 5px;
@mixin allow-button-background {
  background-color: $allow-color;
  color: white;
  &:hover {
    background-color: $allow-hover-color;
  }
}
@mixin deny-button-background {
  background-color: $deny-color;
  color: white;
  &:hover {
    background-color: $deny-hover-color;
  }
}
@mixin character-box {
  width: $chracter-width;
  height: $chracter-height;
  margin: $chracter-margin;
}

.board {
  padding: 20px 10%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
header {
  height: 70px;

  div {
    z-index: 3;
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid;

    border-image: $deny-allow-gradient;

    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.shadow {
      background: $deny-allow-gradient;
      z-index: -1;
      filter: blur(5px);
    }
    h1 {
      margin: 0;
      background: $deny-allow-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

input {
  border-radius: $default-border-radius;
  font-size: 16px;
  text-align: center;
  // box-shadow: 0 0 -1px -1px rgba(black, 0.1) inset;
  border: 1px solid rgba(black, 0.1);
}
button {
  border: none;
  box-shadow: $dark-button-shadow;
  background-color: $button-color;
  border-radius: $default-border-radius;
  cursor: pointer;
  &:hover {
    background-color: $button-hover-color;
  }
}
.count-wrap {
  div {
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 50px;
    &.count {
      font-size: 1.3em;
    }
    button {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 1.5em;
      color: white;
      &.up {
        @include allow-button-background;
      }
      &.down {
        @include deny-button-background;
      }
    }
  }
}

.strike-wrap {
  input {
    @include character-box;
    background-color: $allow-input-color;
  }

  &.deny {
    input {
      background-color: $deny-input-color;
    }
  }
}

.ball-wrap {
  input {
    width: $chracter-width;
    height: $chracter-height;
    margin: $chracter-margin;
  }
  button {
    @include character-box;
  }
  .ball-tagsinput-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .ball-tags {
      button {
        font-size: 0;
        @include allow-button-background;
        &:before {
          font-size: initial;
          content: attr(data-charcter);
        }
        &.isDenyBalled {
          @include deny-button-background;
        }
      }
      &.deny button {
        @include deny-button-background;
      }
    }
    div {
      display: inline-block;
    }
    input {
      display: inline-block;
      background-color: $allow-input-color;
    }
    &.deny input {
      background-color: $deny-input-color;
    }
  }
}

.keyboard-wrap {
  .keyboard-row {
    span {
      button {
        width: $chracter-width;
        height: $chracter-height;
        margin: 5px;
        font-size: 1.3em;
        text-align: center;
        &.isBalled {
          @include allow-button-background;
        }
        &.isDenyBalled {
          @include deny-button-background;
        }
      }
      span {
        display: none;
        position: absolute;
        // width: 15px;
        // height: 15px;
        padding: 3px 5px;
        margin: -5px 0 0;
        font-size: 0.8em;
        border-radius: $default-border-radius;
        &.active {
          display: inline-block;
          box-shadow: $dark-button-shadow;
          &.allow {
            margin-left: -17px;
            background-color: $allow-color;
          }
          &.deny {
            margin-left: -50px;
            background-color: $deny-color;
          }
        }
      }
    }
  }
}
.bottom-btns-wrap {
  div {
    display: inline-block;
    margin: 5px;
    button {
      width: 100%;
      margin-top: 5px;
      padding: 10px 30px;
      font-size: 1.1em;
    }
    &.result-wrap button {
      @include allow-button-background;
    }
  }
}

.bottom-wrap {
  height: 250px;
  .bottom-fix {
    box-shadow: 0 0 50px 30px rgba(white, 0.9);
    background-color: rgba(white, 0.9);
    height: 200px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    left:0;
    button {
      border-radius: $default-border-radius;
    }
  }
}

#modal-root {
  .modal-shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(black, 0.5);
    top: 0;
    z-index: 1000;
  }
  .modal {
    box-shadow: $dark-box-shadow;
    margin: 100px auto;
    width: 500px;
    height: 70%;
    background-color: white;
    border-radius: $default-border-radius;
    .modal-header {
      height: 40px;
      text-align: right;
      button {
        width: 40px;
        height: 40px;
      }
    }
    .modal-content {
      overflow-y: auto;
      height: calc(100% - 50px);
      padding: 0 10px;
      text-align: center;
      .result-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          background-color: #eee;
          margin: 3px;
          padding: 10px 20px;
          display: inline-block;
        }
      }
    }
  }
}
.shaking {
  animation: horizontal-shaking 0.25s linear infinite;
}
@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }