// Return opaque color
// opaque(#fff, rgba(0, 0, 0, .5)) => #808080
@function opaque($background, $foreground) {
  @return mix(rgba($foreground, 1), $background, opacity($foreground) * 100);
}

// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

$breakpoint-mobile: 500px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

$allow-color: tint-color(green, 40%);
$allow-hover-color: shade-color($allow-color, 5%);
$allow-input-color: opaque($allow-color, rgba(255, 255, 255, 0.9));
$deny-color: tint-color(red, 40%);
$deny-hover-color: shade-color($deny-color, 5%);
$deny-input-color: opaque($deny-color, rgba(255, 255, 255, 0.9));
$button-color: shade-color(white, 5%);
$button-hover-color: shade-color(white, 10%);
$deny-allow-gradient: linear-gradient(90deg, $deny-color, $allow-color);
$allow-deny-gradient: linear-gradient(90deg, $allow-color, $deny-color);

$dark-button-shadow: 0 0 2px 1px rgba(black, 0.3);
$dark-box-shadow: 0 0 20px 10px rgba(black, 0.3);
$default-border-radius: 5px;

$character-width: 40px;
$character-height: 40px;
$character-margin: 5px;

$keyboard-width: $character-width;
$keyboard-height: $character-height;
$keyboard-margin: 5px;
$mobile-keyboard-width: 28px;
$mobile-keyboard-height: 30px;
$mobile-keyboard-margin: 4px;

$modal-margin: 100px auto;
$modal-width: 500px;
$modal-height: 70%;
$mobile-modal-margin: 5% auto;
$mobile-modal-width: 90%;
$mobile-modal-height: 90%;

@mixin allow-button-background {
  background-color: $allow-color;
  color: white;
  &:hover {
    background-color: $allow-hover-color;
  }
}
@mixin deny-button-background {
  background-color: $deny-color;
  color: white;
  &:hover {
    background-color: $deny-hover-color;
  }
}
@mixin character-box {
  width: $character-width;
  height: $character-height;
  margin: $character-margin;
}

@mixin keyboard-box {
  margin: $keyboard-margin;
  width: $keyboard-width;
  height: $keyboard-height;
  @include mobile {
    margin: $mobile-keyboard-margin;
    width: $mobile-keyboard-width;
    height: $mobile-keyboard-height;
  }
}

a {
  text-decoration: none;
}

.board {
  padding: 20px 10%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
header {
  height: 70px;

  > div {
    z-index: 3;
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid;

    border-image: $deny-allow-gradient;

    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.shadow {
      background: $deny-allow-gradient;
      z-index: -1;
      filter: blur(5px);
    }
    div {
      margin: 0 auto;
      h1 {
        margin: 0;
        background: $deny-allow-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
          background: $allow-deny-gradient;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 1s all;
        }
      }
    }
    .htp-btn-wrap {
      position: absolute;
      text-align: center;
      margin: -25px 0 0 250px;
      button {
        padding: 5px;
      }
    }
  }
}

input {
  border-radius: $default-border-radius;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgba(black, 0.1);
}
button {
  border: none;
  box-shadow: $dark-button-shadow;
  background-color: $button-color;
  border-radius: $default-border-radius;
  cursor: pointer;
  &:hover {
    background-color: $button-hover-color;
  }
}
.count-wrap {
  div {
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 50px;
    &.count {
      font-size: 1.3em;
    }
    button {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 1.5em;
      color: white;
      &.up {
        @include allow-button-background;
      }
      &.down {
        @include deny-button-background;
      }
    }
  }
}

.strike-wrap {
  input {
    @include character-box;
    background-color: $allow-input-color;
  }

  &.deny {
    input {
      width: 100px;
      background-color: $deny-input-color;
    }
  }
}

.ball-wrap {
  input {
    width: $character-width;
    height: $character-height;
    margin: $character-margin;
  }
  button {
    @include character-box;
  }
  .ball-tagsinput-wrap {
    align-items: center;
    justify-content: center;
    .ball-tags {
      button {
        font-size: 0;
        @include allow-button-background;
        &:before {
          font-size: initial;
          content: attr(data-character);
        }
        &.isDenyBalled {
          @include deny-button-background;
        }
      }
      &.deny button {
        @include deny-button-background;
      }
    }
    div {
      display: inline;
    }
    input {
      display: inline;
      background-color: $allow-input-color;
    }
    &.deny input {
      background-color: $deny-input-color;
    }
  }
}

.keyboard-wrap {
  .keyboard-row {
    display: flex;
    justify-content: center;
    > span {
      @include keyboard-box;
      button {
        width: 100%;
        height: 100%;
        font-size: 1.3em;
        @include mobile {
          font-size: 0.8em;
        }
        &.isBalled {
          @include allow-button-background;
        }
        &.isDenyBalled {
          @include deny-button-background;
        }
      }
      span {
        display: none;
        position: absolute;
        padding: 3px 5px;
        margin: -10px 0 0;
        font-size: 0.8em;
        @include mobile {
          padding: 1px 3px;
          margin: -7px 0 0;
          font-size: 0.5em;
        }
        border-radius: $default-border-radius;
        &.active {
          display: inline-block;
          box-shadow: $dark-button-shadow;
          &.allow {
            margin-left: -13px;
            @include mobile {
              margin-left: 28px;
            }
            background-color: $allow-color;
          }
          &.deny {
            margin-left: -44px;
            @include mobile {
              margin-left: -32px;
            }
            background-color: $deny-color;
          }
        }
      }
    }
  }
}
.bottom-btns-wrap {
  div {
    display: inline-block;
    margin: 5px;
    button {
      width: 100%;
      margin-top: 5px;
      padding: 10px 30px;
      font-size: 1.1em;
      @include mobile {
        font-size: 0.9em;
      }
    }
    &.result-wrap button {
      @include allow-button-background;
    }
  }
}

.bottom-wrap {
  height: 250px;

  @include mobile {
    height: 200px;
  }
  .bottom-fix {
    box-shadow: 0 0 50px 30px rgba(white, 0.9);
    background-color: rgba(white, 0.9);
    height: 200px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 0;
    button {
      border-radius: $default-border-radius;
    }
    @include mobile {
      height: 150px;
    }
  }
}

#modal-root {
  .modal-shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(black, 0.5);
    top: 0;
    z-index: 1000;
  }
  .modal {
    box-shadow: $dark-box-shadow;
    margin: $modal-margin;
    width: $modal-width;
    height: $modal-height;
    @include mobile {
      margin: $mobile-modal-margin;
      width: $mobile-modal-width;
      height: $mobile-modal-height;
    }
    background-color: white;
    border-radius: $default-border-radius;
    .modal-header {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      h5 {
        padding-left: 15px;
        font-size: 1.2em;
        margin: auto;
      }
      button {
        width: 40px;
        height: 40px;
      }
    }
    .modal-content {
      overflow-y: auto;
      height: calc(100% - 50px);
      padding: 0 10px;
      text-align: center;
      .result-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          background-color: #eee;
          margin: 3px;
          padding: 10px 20px;
          display: inline-block;
        }
      }
    }
  }
}

.htp-wrap {
  text-align: left;
  h4 {
    padding-left: 40px;
  }
}

.shaking {
  animation: horizontal-shaking 0.25s linear infinite;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
